/* ==========Fonts========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ==========common style OR Utilities========== */
body {
    font-family: 'Poppins', sans-serif;

}

.container {
    width: 1150px;
    margin: 0 auto;
    background-color: rgb(253, 253, 253);
}

/* ==========header section========== */
.title-logo {
    color: #3A3A3A;
    font-size: 24px;
    font-weight: bold;
    margin: 60px 0;
}

.Start-your-Journey {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.Start-your {
    width: 500px;
}

.Start-your .title {
    font-weight: bold;
    color: #3A3A3A;
    margin-bottom: 0;
}

.button {
    background-color: #E02C6D;
    color: white;
    text-align: center;
    padding: 10px 24px;
    border-radius: 41px;
    width: 196px;
    margin-top: 20px;
    opacity: 1;
    transition: 0.5s;

}

.button:hover {
    opacity: 0.6;
}



.button a {
    text-decoration: none;
    color: white;

}



/* ==========Popular Collection section========== */
.Popular-titel {
    text-align: center;
}



.Popular-Collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}

.Popular-Collection {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.Popular-banner {
    text-align: center;
    margin-top: 35px;
}

.Flex-detail {
    margin: 35px;
}

.Flex-rating {
    display: flex;

}

.orange {
    color: orange;
    margin-right: 10px;
    font-size: 14px;
}

.Flex-span {
    font-size: 14px;
}

.link {
    text-align: right;
    padding-top: 20px;
}

.link a {
    text-decoration: none;

}

.link a,
.pink {
    color: #E02C6D;
}

/* ==========footer section========== */
footer {
    background-color: #0A0826;
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 100px;
}

footer h3,
p {
    margin: 0;

}

footer p {
    color: #D9DBE1;

}

.icon {
    padding: 5px;
}